// Colors

// Yellow
$yellow-vivid: #FFE605;
$yellow-soft: #F8D859;

// Orange
$orange-soft: #F7CD59;
$orange-soft-2: #F8CD59;

// Cyan
$cyan-dark: #1EA395;
$cyan-vivid: #1ECBDD;
$cyan-moderate: #42C8CE;

// Violet
$violet-soft: #906CE6;

// Megenta
$magenta-soft: #D968ED;
$magenta-soft-2: #D358E3;
$megenta-soft-3: #DA68EE;

// Blue
$blue-dark-grayish: #737A80;
$blue-dark-grayish-2: #6A7175;
$blue-dark-grayish-3: #3C4042;
$blue-dark-grayish-4: #969B9E;
$blue-dark-grayish-5: #687175;
$blue-dark-grayish-6: #697175;
$blue-very-dark-grayish: #2E3133;
$blue-light: #6164FF;
$blue-light-grayish: #E9EDF0;
$blue-light-grayish-2: #E4E7EB;
$blue-soft: #6D6FFC;
$blue-moderate: #584FD7;

// Gray
$gray: #2D2D2D;
$gray-dark: #8C8C8C;
$gray-vary-dark: #444444;
$gray-very-dark-2: #636363;
$gray-vary-dark-3: #707070;
$gray-medium: #999999;
$gray-very-light: #DADADA;

// White
$white: #FFF;

// Dark
$dark: #000;

//City
$city-blue-dark: #002F54;
$city-dark: #141711;
$city-cyan: #91FAF4;
$city-gray: #9F9F9F;
$city-gray-2: #F9F9F9;
$city-gray-3: #F8F9FC;


// Base Colors
$color__base-heading: $white;
$color__base-content: $white;
$color__base-border: $white;

// Action Colors
$action-color: $gray-very-light;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Background Color
$color__background-body: $white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: $white;
$color__background-footer: $white;

// Text Color
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;
$color__text-header: $blue-dark-grayish-4;
$color__text-footer: $blue-dark-grayish-2;

// Border Color
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
