$size__site-main: 100%;
$size__site-sidebar: 25%;

// Other Sizes
$base-border: 1px solid $color__base-border;
$base-border-radius: 3px;
$base-spacing: $font__line-height-body * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;