@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('assets/fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('assets/fonts/SourceSansPro-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archivoblack';
  src: url('assets/fonts/archivoblack-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/archivoblack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Font Stacks
$font-stack__open-sans: "Open Sans", $helvetica;
$font-stack__montserrat: "Montserrat", $helvetica;
$notoSans: 'Noto Sans TC', $helvetica;
$sansPro: 'SourceSansPro-Regular', $helvetica;
$sansPro__semi: 'SourceSansPro-SemiBold', $helvetica;
$archivoblack: 'archivoblack', $helvetica;

$mix: $sansPro, $notoSans;


// Font Sizes
$base__font-size: 17px;
$base__inputs: 17px;


// Typography
$font__body: $sansPro;
$font__line-height-body: 1.5;
$font__heading: $font-stack__open-sans;
$font__line-height-heading: 1.2;
$font__code: $font-stack__open-sans;
$font__pre: $font__body;
$font__line-height-pre: 1.6;